.tsdf-top {
    display: flex;
    width: 100%;
}
.tsdf-top1, .tsdf-top2, .tsdf-top3, .tsdf-top4 {
    display: flex;
    width: 44%;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 0.1px solid #bdc1c653;
}

.tsdf-top2 {
    border-left: 0.1px solid #bdc1c653;
    padding-left: 20px;
    
}
.tsdf-top11, .tsdf-top21 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tsdf-top12, .tsdf-top22 {
    width: 150px;
}
.tsdf-top11 a, .tsdf-top21 a {
    text-decoration: none;
    color: #8ab4f8;
}

