html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
img {
    width: 10%;
}
body {
    background: #202124;
}

/* Header */
.sec-one {
    display: flex;
    margin: 30px 10px 0 30px;
}
.google-icon {
    width: 10%;
    display: flex;
}
.google-icon img{
    width: 90px;
    align-self: center;
}
.search input{
    width: 70%;
    outline: 0;
    margin-left: 20px;
    background:  #bdc1c6;
    appearance: none;
    background-color: transparent;
    border: none;  
}
.search input::placeholder {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.search {
    background: #323337;
    height: 45px;
    display: flex;
    width: 692px;
    border-radius: 20px;
    align-self: center;
}
.search span {
    border-right: 1px solid #1d1e1e;
    height: 65%;
    align-self: center;
}
.search img {
    width: 30px;
    margin-right: 20px;
}
.left-img-header {
    display: flex;
    justify-content: end;
    margin-left: 35%;
    margin-right: 20px;
}
.left-img-header img {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    align-self: center;
}
.left-img-header img:last-of-type {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
.sec-two {
    display: flex;
    width: 25%;
    margin-top: 40px;
    margin-left: 170px;
    justify-content: space-between;
    color: #969ba1;
}
.sec-two div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sec-two div span {
    margin-left: 10px;   
}
.sec-two div img {
    width: 20px;  
}
hr {
    border-color:#969ba1; 
}
.result-no {
    color:#969ba1;
    margin-left: 190px;
}

.main-sec {
    margin-left: 190px;
    margin-right: 100px;
}

.first-sec {
    display: flex;
    color: #969ba1;
    width: 69%;
    
}
.first-sec div:first-of-type p:first-child {
    font-size: 30px;
    line-height: 25px;
    font-weight: bolder;
}
.first-sec div:first-of-type p:first-child span {
    font-size: 16px; 
    font-weight: lighter; 
}
.first-sec div:first-of-type p:first-child span span img {
    vertical-align: middle;
}
.first-sec div:first-of-type p:last-child span img {
    width: 13px;
    margin-left: 3px;
}
.first-sec div:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 50%;
    justify-content: space-between;
}
.first-sec div:nth-of-type(2) button {
    background-color: #46474C;
    color:#9aa0a6;
    border: none;
    width: 95px;
    height: 45px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;   
}
.second-sec {
 margin-left: -120px;
 padding-left: 60px;
 margin-right: -59px;
 padding-right: -100px;
  background-color: white;
  background-image: linear-gradient(180deg, #202124,  #202124, rgb(43, 43, 43));

}
.grid-container {
    /* width: 100%; */
    height: 10%;
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    gap: 2px;
    margin-bottom: 30px;
}
.grid-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    /* border-radius: 30px; */
}
.items-1 {
    grid-column: span 2;
    border-top-left-radius: 30px;
}
.items-2 {
    border-top-right-radius: 30px;
}
.items-3 {
    border-bottom-left-radius: 30px;
}
.items-5 {
    border-bottom-right-radius: 30px;
}
.items-2, .items-3 {
    grid-column: span 2;
}

.second-sec {
    display: flex;
    justify-content: space-evenly;
}
.sky-sport {
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px solid #bdc1c6; */
    margin-bottom: 30px;
    background-color: #46474C;
}
.sky-sport-div img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    
}
.sky-sport-footnote {
    margin: 10px;
}
.sky-sport-logo {
    display: flex;
}
.sky-sport-logo img {
    border-radius: 20px;
}
.sky-sport-logo span {
    align-self: center;
    margin-left: 10px;
    color: #9aa0a6;
}
.sky-sport-footnote h3 {
    color: white;
} 
.sky-sport-footnote p {
    color: #9aa0a6;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 30px;
}
.info-height, .info-age {
    width: 45%;
    background-color: #46474C;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #bdc1c6
}
.info-height h1 {
    font-size: larger;
}
.more-info {
    width: 100%;
    background-color: #46474C;
    border-radius: 20px;
    padding: 0px 20px;
    display: flex;
    text-decoration: none;
    color: #969ba1;
    align-items: center;
    justify-content: space-between;
}
.more-info div {
    width: 60%
}
.more-info div h3 {
    color:#bdc1c6;
}
.more-info-main-pic {
    width: 30%;
    height: 70%;
    border-radius: 15px;
}

.third-sec {
    display: flex;
    width: 100%;
   margin-top: 40px;
}
.third-sec-first-div {
    width: 70%;
    color:#bdc1c6;
}
.first-h1 {
    font-size: 30px;
    color:#bdc1c6;
    line-height: 5px;
}
.third-sec-first-div hr {
    border-color: #bdc1c653;
    border-top: none;
    width: 90%;
    float: left;
}
.third-sec-second-div {
    width: 30%;
    border-left: 1px solid #bdc1c653;
    height: 100%;
}
.arrow1 svg {
    width: 30px;
    height: 30px;
    fill:#bdc1c6;
}
.checkmark-batch svg {
    width: 20px;
}
.arrow2 svg{
    width: 20px;
    height: 20px;
    fill: #9aa0a6;
}

.third-sec-second-div {
    color: #bdc1c6;
    padding-left: 20px;
}
.third-sec-second-div a{
    color: #8ab4f8;
    text-decoration: none;
}

.tsd1-1 {
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.tsd1-1 a {
    color: #bdc1c6;
    border: 1px solid #bdc1c6;
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}
.tsd1-1 a:hover {
    background-color:#323337;
}
.tsd1-1 span {
    align-self: center;
    margin-right: 15px;
}
.tsd1-1 span svg {
    fill: #4487f6;
    vertical-align: middle;
}
.tsd2-1 {
    display: flex;
    justify-content: space-between;
}
.tsd2-1 h1 {
  font-size: 25px;
}
.tsd2-1 span {
    border: 1px solid #9aa0a6;
    align-self: center;
    padding: 4px;
    border-radius: 100px;
}
.tsd2-table {
    width: 100%;
    /* border-bottom: 1px solid #bdc1c6; */
    border-collapse: collapse;
    line-height: 30px;
}
.tsd2-th1 {
    text-align: left;
    color: #8f9194;
    border-bottom: 0.1px solid #bdc1c653;
}
.tsd2-th2,.tsd2-th3 {
    text-align: center;
    color: #8f9194;
    border-bottom: 0.1px solid #bdc1c653;
}
.tsd2-td1 {
    text-align: left;
    border-bottom: 0.1px solid #bdc1c653;
}
.tsd2-td1 span {
    display: block;
    color: #8f9194;
}
.tsd2-td2, .tsd2-td3 {
    text-align: center;
    border-bottom: 0.1px solid #bdc1c653;
}
.tsd2-profiles {
    font-size: large;
}
.tsd2-profiles-pic {
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}
.tsd2-profiles-pic div img {
    width: 30px;
}
.tsd2-profiles-pic div p {
    font-size: medium;
}
.tsd2 hr {
    border: 0.1 solid #bdc1c653;
    background-color: #bdc1c653;
}
.tsd2-people-pic {
    display: flex;
    justify-content: space-evenly;
}
.tsd2-people-pic div {
    width: 40%;
}
.tsd2-people-pic div img {
    width: 90%;
    border-radius: 10%;
}
.tsd2-seemore {
    width: 100%;
    /* border: 1px solid white; */
    background-color: #46474C;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.tsd2-seemore span svg{
    width: 20px;
    vertical-align: middle;
    fill: white;
    margin-left: 10px;
}