html, body {
    margin: 0;
    padding: 0;
}
img {
    width: 10%;
}
body {
    background: #202124;
}

/* Header */
.sec-one {
    display: flex;
    margin: 30px 10px 0 30px;
}
.google-icon {
    width: 10%;
    display: flex;
}
.google-icon img{
    width: 90px;
    align-self: center;
}
.search input{
    width: 70%;
    outline: 0;
    margin-left: 20px;
    background:  #bdc1c6;
    appearance: none;
    background-color: transparent;
    border: none;  
}
.search input::placeholder {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.search {
    background: #323337;
    height: 45px;
    display: flex;
    width: 692px;
    border-radius: 20px;
    align-self: center;
}
.search span {
    border-right: 1px solid #1d1e1e;
    height: 65%;
    align-self: center;
}
.search img {
    width: 30px;
    margin-right: 20px;
}
.left-img-header {
    display: flex;
    justify-content: end;
    margin-left: 35%;
    margin-right: 20px;
}
.left-img-header img {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    align-self: center;
}
.left-img-header img:last-of-type {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
.sec-two {
    display: flex;
    width: 25%;
    margin-top: 40px;
    margin-left: 170px;
    justify-content: space-between;
    color: #969ba1;
}
.sec-two div {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sec-two div span {
    margin-left: 10px;   
}
.sec-two div img {
    width: 20px;  
}
hr {
    border-color:#969ba1; 
}
.result-no {
    color:#969ba1;
    margin-left: 190px;
}

.main-sec {
    margin-left: 190px;
}

.first-sec {
    display: flex;
    color: #969ba1;
    width: 70%;
}
.first-sec div:first-of-type p:first-child {
    font-size: 28px;
}
.first-sec div:first-of-type p:last-child  {
    
}
.first-sec div:first-of-type p:last-child span img {
    width: 13px;
    margin-left: 3px;
}

.first-sec div:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 50%;
    justify-content: space-between;
}
.first-sec div:nth-of-type(2) button {
    background-color: #46474C;
    border-color: white;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    
}

.grid-container {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 2px;
}
.grid-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.items-1 {
    grid-column: span 2;
}
.items-2, .items-3 {
    grid-column: span 2;
}

